<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <p><a routerLink="/banque/gestiontypepatrimoine"><button type="button" class="btn btn-primary" >Gestion des types de patrimoine</button></a></p>
        </div>

        <div>
          <form>
            <div class="row">
              <div class="col">
                <label>Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary mdi mdi-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <label>Another label</label>
                <input type="text" class="form-control">
              </div>

            </div>
          </form>
        </div>
        <br>
        <div class="text-right">
          <p><a routerLink="/banque/gestiontypepatrimoine"><button type="button" class="btn btn-primary" >Ajouter</button></a></p>
        </div>
        <br>

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">BNP</th>
              <th scope="col">SG</th>
              <th scope="col">Prêt</th>
              <th scope="col">PEL</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                {{ country.name }}
              </td>
              <td>{{ country.area | number }}</td>
              <td>{{ country.population | number }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
