<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p><a routerLink="/banque/gestiontypepatrimoine"><button type="button" class="btn btn-primary" >Gestion des types de patrimoine</button></a></p>


        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">BNP</th>
            <th scope="col">SG</th>
            <th scope="col">Prêt</th>
            <th scope="col">PEL</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
